@{
    ViewData["Title"] = "Laboratory work №1";
}


<div class="row">
    <div class="col-md-12">
        <div>
            <h2>@ViewData["Title"]</h2>
            <br />
            <p>
                <b>Умова завдання:</b>
            </p>

            <p>
                Шаблоном розміру n назвемо рядок довжини n, кожен із символів якого входить до множини {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, a, b, c, d, e, f, g, ?}. 
                <br />
                Шаблони перетворюються на рядки з цифр за такими правилами:
                <br />
                <ul>
                    <li>символи від 0 до 9 можуть бути перетворені тільки самі в себе;</li>
                    <li><i>a</i> може бути перетворений у будь-який із символів 0,1, 2, 3;</li>
                    <li><i>b</i> може перетворений у будь-який із символів 1,2,3,4;</li>
                    <li><i>c</i> може перетворений у будь-який із символів 2,3,4,5;</li>
                    <li><i>d</i> може перетворений у будь-який із символів 3,4,5,6;</li>
                    <li><i>e</i> може перетворений у будь-який із символів 4,5,6,7;</li>
                    <li><i>f</i> може перетворений у будь-який із символів 5,6,7,8;</li>
                    <li><i>g</i> може перетворений у будь-який із символів 6,7,8,9;</li>
                    <li><i>?</i> може перетворений у будь-який із символів від 0 до 9;</li>
                </ul>
                
                <br />
                Дано два шаблони: p1 і p2. Розглянемо множину S1 рядків, які можуть бути отримані з p1 за описаними правилами, і множина S2 рядків, які можуть бути отримані з p2. Необхідно знайти кількість рядків, що входять в обидва ці множини.
                <br />
                <br />
                <br />
                <i>Вхідні дані</i>
                <br />
                Перший рядок вхідного файлу INPUT.TXT містить шаблон p1, другий - шаблон p2. Шаблони мають однаковий позитивний розмір не більше 9.
                <br />
                <br />
                <i>Вихідні дані</i>
                <br />
                У вихідний файл OUTPUT.TXT виведіть відповідь на завдання.
            </p>

            <br />


            <h2>Input Data</h2>
            <form method="POST">
                <label>Enter input file path:</label><br />
                <input class="file-path" type="text" name="input_path" style="width: 700px" />

                <br />

                <label>Enter output file path:</label><br />
                <input class="file-path" type="text" name="output_path" style="width: 700px" />

                <br />
                <br />

                <button class="btn btn-dark" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>